* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-div {
	height: 400px;
	background-image: url(./images/Naruto\ hero\ image.jpg);
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.7);
	background-size: cover;
	background-blend-mode: overlay;
}

.ninja-card {
	position: relative;
	width: 400px;
	height: 330px;
	margin: 2rem auto;
}

.ninja-card img {
	height: 330px;
}

.ninja-card-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: rgba(0, 0, 0, 0.7);
}

.ninja-card:hover .ninja-card-overlay {
	opacity: 1;
}

.overlay-text {
	width: 80%;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
